body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b2b79e;
}

.container {
    text-align: center;
}

h1 {
    text-align: center;
    color: #333;
}

label {
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border: 2px solid #04AA6D;
    border-radius: 12px;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
}

textarea {
    resize: none;
}
.top-left {
    position: absolute;
    top: 0;
    left: 0;
}